[submodule "user"]
	path = user
	url = https://github.com/onelittlenightmusic/prisma-binding-typescript-sample.git
[submodule "location"]
	path = location
	url = https://github.com/onelittlenightmusic/prisma-binding-typescript-sample.git
